# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini